# Virtual Environments
venv*/
venv_rvc/
env/
ENV/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Heavy ML Weights, Checkpoints & Artifacts
*.ckpt
*.pth
*.pt
*.bin
*.onnx
*.npy
01_Memory/models/
01_Memory/*.npy
01_Memory/user_voice_profile.npy

# OS & IDE caches
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Local runtime states & logs
*.log
.env
